html {
    font-family: monospace;
    /*
    background-color: #bbf;
    */
    width: 100%;
    height: 100%;

    margin: 0px;
    padding: 0px;

    background-color : teal;
    color            : white;
}
body {
    /* 
     * disable pull-to-refresh?
    overscroll-behavior: contain;
    */
    margin : 0px;
    padding: 0px;

    height: 100%;
}
.mainPanel {
    z-index: 0;
    position: fixed;
    top: 0px;
    left: 0px;

    height: 95%;
    width: 95%;

    margin : 0px;
    padding: 0.2em;

    display: flex;
    flex-direction: column;

    /*
    justify-content: space-around;
    */
    justify-content: space-between;
}
.mainPanel > * {
    padding: 0.1em;
    /*
    border: dashed 1px white;
    border-radius: 0.2em;
    */
}

.night {
    background-color : black;
    color            : yellow;
}
button.control {
    margin : 0.2em;
    padding: 0.2em;
    border: dotted 1px white;
    border-radius: 0.1em;

    background-color: inherit;
    color: inherit;
    font-size: inherit;
    font-weight: bold;

    min-width: 2.5em;
    min-height: 1.3em;
}
button.control:disabled {
    color: gray;
    border-color: transparent;
}

.display {
    overflow-x : hidden;
}
.title {
    font-size: 0.2em;
    margin: 0.15em;
}
.panel {
    maring: 0.1em;
}
.movingTime {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.movingTime > :nth-child(1) {
}
.movingTime > :nth-child(2) {
    font-size: 0.6em;
    padding: 0.3em;
}
.dualDisplay {
    display: flex;
    justify-content: space-around;
} 
.dualDisplay > * {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dualDisplay > * > :nth-child(1) {
}
.dualDisplay > * > :nth-child(2) {
    padding: 0.4em;
}
.tableDisplay {
    display: table;
}
.tableDisplay > * {
    display: table-row;
}
.tableDisplay > * > * {
    display: table-cell;
}
.tableDisplay > * > :nth-child(1) {
}
.tableDisplay > * > :nth-last-child(n+1) {
    padding-left: 1em;
    font-size: 0.3em;
}
.statusBar {
    font-size: 0.3em;
    display: flex;
    justify-content: space-between;
    min-height: 1em;
}
.recordControls {
    font-size: 0.6em;
    display: flex;
    justify-content: space-between;
}
.bottomControls {
    font-size: 0.5em;
    display: flex;
    justify-content: space-between;
}
.dialog {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;

    background-color: rgba(100, 100, 100, 0.5);
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.dialog > * {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0.3em;
    background-color: gray;
    border: solid 2px white;
}
.dialog > div > :nth-child(1) {
    margin: 0.3em;
    display: flex;
    justify-content: space-around;

    font-size: 0.4em;
}
.dialog > div > :nth-child(2) > * {
    margin: 0.4em;
    font-size: 0.5em;
}

.speed {
    font-size: 0.8em;
    min-width: 3em;
    max-width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.record {
    color: red !important;
}
.currentSpeed {
    font-size: 1.2em;
    border: dashed 2px grey;
}

@media screen and (max-height: 360px) and (orientation: portrait) {
    body {
        font-size: 30px;
    }
}
@media screen and (min-height: 361px) and (max-height: 768px) and (orientation: portrait) {
    body {
        font-size: 40px;
    }
}
@media screen and (min-height: 769px) and (max-height: 1280px) and (orientation: portrait) {
    body {
        font-size: 70px;
    }
}
@media screen and (min-height: 1281px) and (max-height: 1920px) and (orientation: portrait) {
    body {
        font-size: 126px;
    }
}
@media screen and (min-height: 1921px) and (orientation: portrait) {
    body {
        font-size: 130px;
    }
}

